# Eclipse 项目文件
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Eclipse 核心文件
.project
.classpath

# 编译输出
*.class
*.war
*.ear

# 日志文件
*.log

# 依赖目录 (如 Maven/Gradle)
target/
build/
out/
dist/

# IDE 临时文件
.idea/
*.iml

# 系统文件
.DS_Store
Thumbs.db